{% extends "layouts/base.html" %} 
{% block title %}My Tournament{% endblock %} 

{% block content %}
<div class="container-fluid mt-5" style="width: 90%;">
    <div class="row mb-4">
        <div class="col-md-12">
            <input type="text" class="form-control search-bar" placeholder="Enter tournament name" id="searchInput" onkeyup="filterTournaments()">
        </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Tournament Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Number of Players</th>
                    <th>Location</th>
                    <th>Registration Deadline</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tournamentTableBody">
                {% for tournament in tournaments %}
                <tr>
                    <td>{{ tournament.tournamentName }}</td>
                    <td>{{ tournament.tournamentDesc }}</td>
                    <td><img src="{{ tournament.imageUrl }}" alt="Project Image" class="tournament-image"></td>
                    <td>{{ tournament.startDate }}</td>
                    <td>{{ tournament.endDate }}</td>
                    <td>{{ tournament.numberOfPlayers }}</td>
                    <td>{{ tournament.location or 'N/A' }}</td>
                    <td>{{ tournament.registrationDeadline }}</td>
                    <td class="table-action-buttons" >
                        <a href="#" class="btn btn-primary btn-sm" title="Submit match results" >
                            <img src="../../static/icons/versus.png"/>
                        </a>
                        <a href="#" class="btn btn-warning btn-sm" title="Standings" >
                            <img src="../../static/icons/rank.png"/>
                        </a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}