{% extends "layouts/base.html" %} 
{% block title %}My Tournament{% endblock %} 

{% block content %}
<div class="container-fluid mt-5" style="width: 90%;">
    <div class="row mb-4">
        <div class="col-md-12">
            <input type="text" class="form-control search-bar" placeholder="Enter tournament name" id="searchInput" onkeyup="filterTournaments()">
        </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Tournament Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Number of Players</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tournamentTableBody">
                {% for tournament in tournaments %}
                <tr>
                    <td>{{ tournament.tournamentName }}</td>
                    <td>{{ tournament.tournamentDesc }}</td>
                    <td><img src="{{ tournament.imageUrl }}" alt="Project Image" class="tournament-image"></td>
                    <td>{{ tournament.startDate }}</td>
                    <td>{{ tournament.endDate }}</td>
                    <td>{{ tournament.numberOfPlayers }}</td>
                    <td>{{ tournament.location or 'N/A' }}</td>
                    <td class="table-action-buttons" >
                       
                        <form action="{{url_for('tournament.leave_tournament', tournamentName=tournament.tournamentName)}}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to leave this tournament?');">
                            <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                                <img src="../../static/icons/trash.svg"/>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}