{% extends "layouts/base.html" %} 
{% block title %}Player Pairing{% endblock %} 
{% from "macros/form.html" import render_form %} 

{% block content %} 
<div class="section-title" style="background:url({{url_for('static',filename='img/rankings/rankings_hero.webp')}})">
    <div class="container">
        <div class="row">
            <div class="col-md-12 home-hero-text">
                <h1 class="home-hero-header">Player Pairing</h1>
            </div>
        </div>
    </div>
</div>



{% endblock %}
