{% extends "layouts/base.html" %} 
{% block title %}Rankings{% endblock %} 
{% from "macros/form.html" import render_form %} 

{% block content %} 
<div class="section-title" style="background:url({{url_for('static',filename='img/rankings/rankings_hero.webp')}})">
    <div class="container">
        <div class="row">
            <div class="col-md-12 home-hero-text">
                <h1 class="home-hero-header">Rankings</h1>
                <p class="home-hero-desc" style="color: white;">Track the rise of champions, where strategy and mastery define the elite</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <!-- Search bar for filtering by tournament -->
    <div class="row mb-3">
      <div class="col-md-12">
        <label for="searchTournament" class="form-label">Search Tournament</label>
        <input type="text" class="form-control" id="searchTournament" placeholder="Enter tournament name">
      </div>
    
    </div>
  
    <!-- Rankings table -->
    <table class="table table-light table-hover">
      <thead>
          <tr>
              <th scope="col" class="bg-secondary text-center" style="width: 5%">Rank</th>
              <th scope="col" class="bg-secondary text-center" style="width: 15%">Name</th>
              <th scope="col" class="bg-secondary text-center" style="width: 10%">Points</th>
              <th scope="col" class="bg-secondary text-center"style="width: 10%">W-L-D</th>
              <th scope="col" class="bg-warning text-center" style="width: 10%">OMW%</th>
              <th scope="col" class="bg-warning text-center" style="width: 10%">GW%</th>
              <th scope="col" class="bg-warning text-center" style="width: 10%">OGW%</th>

          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="text-center">1</td>
              <td class="text-center">Zach</td>
              <td class="text-center">0</td>
              <td class="text-center">0-0-0</td>
              <td class="text-center">0</td>
              <td class="text-center">1</td>
              <td class="text-center">1</td>
             
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="text-center">Kenneth</td>
            <td class="text-center">0</td>
            <td class="text-center">0-0-0</td>
            <td class="text-center">0</td>
            <td class="text-center">1</td>
            <td class="text-center">1</td>
            
          </tr>
          <tr>
            <td class="text-center">3</td>
            <td class="text-center">Michael</td>
            <td class="text-center">0</td>
            <td class="text-center">0-0-0</td>
            <td class="text-center">0</td>
            <td class="text-center">1</td>
            <td class="text-center">1</td>
          
          </tr>
          <tr>
            <td class="text-center">4</td>
            <td class="text-center">James</td>
            <td class="text-center">0</td>
            <td class="text-center">0-0-0</td>
            <td class="text-center">0</td>
            <td class="text-center">1</td>
            <td class="text-center">1</td>
           
          </tr>
          <tr>
            <td class="text-center">5</td>
            <td class="text-center">Malcolm</td>
            <td class="text-center">0</td>
            <td class="text-center">0-0-0</td>
            <td class="text-center">0</td>
            <td class="text-center">1</td>
            <td class="text-center">1</td>
           
          </tr>
          <tr>
            <td class="text-center">6</td>
            <td class="text-center">Thaddeus</td>
            <td class="text-center">0</td>
            <td class="text-center">0-0-0</td>
            <td class="text-center">0</td>
            <td class="text-center">1</td>
            <td class="text-center">1</td>
           
          </tr>
      </tbody>
  </table>
</div>

{% endblock %}