{% extends "layouts/base.html" %} 
{% block title %}Tournaments{% endblock %} 
{% from "macros/form.html" import render_form %} 

{% block content %} 
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <img src="{{url_for('static',filename='img/home/tournament-2.jpg')}}" class="card-img-top h-25" alt="Magic: The Gathering Banner">
          <div class="card-body">
            <h1 class="card-title">Tournament 1</h1>
            <h4 class="mt-4">Registration</h4>
           
              <p>Qualified Players will be Pre-registered for this event following the Regional Championship at SCG CON Portland, OR.
              Once Pre-registered, players must complete the Registration process to participate in the event.
              Registration for the Regional Championship closes at 6:00 PM on Friday, March 7th, 2025.
              Players who enter after the tournament has begun will be enrolled with a loss for their first round.
              Players must have their Wizards Account Email in their Melee.gg profile in order to enroll.</p>
           
            
           
          </div>
        </div>
      </div>

      <!-- Right Side Content (Tournament Info and Join Button) -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3>Tournament 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="list-unstyled">
              <li><strong>Start Date:</strong> 01/01/2024</li>
              <li><strong>End Date:</strong> 05/01/2024</li>
              <li><strong>Location:</strong> Singapore</li>
              <li><strong>Organizer:</strong> John123</li>
              <li><strong>Current Players:</strong> 100</li>
            </ul>
            <a href="#" class="btn tournament-join-btn w-100 mt-3">Join</a>
          </div>
        </div>
      </div>
    </div>
  </div>
 {% endblock %} 