{% extends "layouts/base.html" %} 
{% block title %}Tournaments{% endblock %} 
{% from "macros/form.html" import render_form %} 

{% block content %} 
<div class="section-title" style="background:url({{url_for('static',filename='img/tournaments/tournaments_hero.jpg')}})">
    <div class="container">
        <div class="row">
            <div class="col-md-12 home-hero-text">
                <h1 class="home-hero-header">Tournaments</h1>
                <p class="home-hero-desc" style="color: white;">Where Competitors Rise, and Champions Are Made</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-5">

    <!-- Search Bar -->
    <div class="row mb-4">
        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Search for a Tournament" id="searchInput" onkeyup="filterTournaments()">
        </div>
    </div>

    <div class="row" id="tournamentCardsContainer">
        {% for tournament in tournaments %}
        <div class="col-md-4 mb-4 tournaments-card">
            <div class="card h-100">
                <a href="{{ url_for('tournament.view_tournament', tournament_name=tournament.tournamentName) }}" class="stretched-link"></a>
                <div class="row g-0">
                    <div class="col-12">
                        <img src="{{ tournament.imageUrl if tournament.imageUrl else url_for('static', filename='img/home/default-tournament.jpg') }}" class="img-fluid rounded-top" alt="{{ tournament.tournamentName }}" style="object-fit: cover; height: 200px; width: 100%;">
                    </div>
                    <div class="col-12">
                        <div class="card-body">
                            <h5 class="tournaments-card-title">{{ tournament.tournamentName }}</h5>
                            <p class="card-text">{{ tournament.tournamentDesc if tournament.tournamentDesc else 'No description available.' }}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
       function filterTournaments() {
            let input = document.getElementById('searchInput').value.toLowerCase();
            let cards = document.querySelectorAll('.tournaments-card');

            cards.forEach(card => {
                let tournamentName = card.querySelector('.tournaments-card-title').textContent.toLowerCase();
                if (tournamentName.includes(input)) {
                    card.style.display = '';
                } else {
                    card.style.display = 'none';
                }
            });
        }
    </script>
</div>

{% endblock %}
