{% extends "layouts/base.html" %} 
{% block title %}Tournament Details{% endblock %} 
{% from "macros/form.html" import render_form %} 

{% block content %} 
<div class="container mt-5">
    <div class="row">
        <!-- Left Side Content (Tournament Banner and Description) -->
        <div class="col-md-8">
            <div class="card">
                <img src="{{ tournament.imageUrl if tournament.imageUrl else url_for('static', filename='img/home/default-tournament.jpg') }}" class="card-img-top h-25" alt="{{ tournament.tournamentName }} Banner">
                <div class="card-body">
                    <h1 class="card-title">{{ tournament.tournamentName }}</h1>
                    <h4 class="mt-4">Registration</h4>
                    <p>{{ tournament.tournamentDesc if tournament.tournamentDesc else 'No description available.' }}</p>
                    <p>Qualified Players will be Pre-registered for this event following the Regional Championship at SCG CON Portland, OR.
                    Once Pre-registered, players must complete the Registration process to participate in the event.
                    Registration for the Regional Championship closes at 6:00 PM on {{ tournament.registrationDeadline }}.
                    Players who enter after the tournament has begun will be enrolled with a loss for their first round.
                    Players must have their Wizards Account Email in their Melee.gg profile in order to enroll.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="mt-4">Location Details</h4>
                    <p>{{ tournament.location }}</p>
                </div>
                <input type="hidden" id="address" value="{{ tournament.location }}">
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
          <!-- Right Side Content (Tournament Info and Join Button) -->
          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3>{{ tournament.tournamentName }}</h3>
                    <ul class="list-unstyled">
                        <li><strong>Start Date:</strong> {{ tournament.startDate }}</li>
                        <li><strong>End Date:</strong> {{ tournament.endDate }}</li>
                        <li><strong>Location:</strong> {{ tournament.location }}</li>
                        <li><strong>Organizer:</strong> {{ tournament.adminList | join(', ') }}</li>
                        <li><strong>Current Players:</strong> {{ tournament.numberOfPlayers }}</li>
                    </ul>
                    
                   

                    {% if is_admin %}
                        <a href="#" class="bg-success btn tournament-join-btn w-100 mt-3">View Players</a>
                    {% else %}
                       <a href="{{url_for('tournament.create_player', tournamentName=tournament.tournamentName)}}" class="btn tournament-join-btn w-100 mt-3">Join Now</a>
                    {% endif %}
                </div>
            </div>
       
    </div>
</div>

{% endblock %}
