{% extends "layouts/base.html" %}
{% block title %}Login{% endblock %}
{% from "macros/form.html" import render_form %}

{% block content %}
<script type="module">
    // Import the functions needed from the SDKs
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js";
    import { getFirestore } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-firestore.js";

    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyCDJEkLkIfEoggaGDKY5TJjrkXsUolIJDk",
        authDomain: "cs203-a263b.firebaseapp.com",
        projectId: "cs203-a263b",
        storageBucket: "cs203-a263b.appspot.com",
        messagingSenderId: "28927577611",
        appId: "1:28927577611:web:42e3ffc3901ab028e3410e",
        measurementId: "G-SSRD2ZW3NS"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);

    import * as firebase from "https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js";
    import { getAuth, GoogleAuthProvider, signInWithPopup } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js";
    const auth = getAuth(app);
    const provider = new GoogleAuthProvider();

    const googleLogin = document.getElementById("google-login-btn");
    googleLogin.addEventListener("click", function () {
        signInWithPopup(auth, provider).then((result) => {
            const credential = GoogleAuthProvider.credentialFromResult(result);
            const user = result.user;

            user.getIdToken().then((token) => {
                let data = {
                    "token": token,
                    "name": user.displayName
                };
                fetch("{{url_for('user.google_login')}}", {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(res => res.json())
                    .then(data => {
                        if (data.status === 'success') {
                            console.log(data.message);
                            console.log('User Name:', data.userName);
                            // Perform actions on successful login, e.g., redirect
                            window.location.href = "{{url_for('index')}}";
                        } else {
                            console.error(data.message);
                            if (data.message == "No user record found"){
                                window.location.href = "{{url_for('user.register_step2')}}";
                            }
                            // Handle error, e.g., show error message to user
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                    });
            }).catch((error) => {
                console.error("Error getting token:", error);
            });

        }).catch((error) => {
            console.error(error.message);
        })
    })
</script>

<section class="vh-100 bg-image"
  style="background-image: url('https://cdn.mos.cms.futurecdn.net/c7430b83771cb95dd5a6c49d593b4ec5-320-80.gif'); background-size: cover;  padding:20px">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-4">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h3 class="text-uppercase text-center mb-5">Login</h3>
              {{ render_form(url_for('user.login'), form) }}
              <div class="line left-line"></div>
              <div class="text">or</div>
              <div class="line right-line"></div>
              <br><br>
              <button id="google-login-btn" class="gsi-material-button" style="width: 100%;">
                <div class="gsi-material-button-state"></div>
                <div class="gsi-material-button-content-wrapper">
                  <div class="gsi-material-button-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                      xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                      <path fill="#EA4335"
                        d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                      </path>
                      <path fill="#4285F4"
                        d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                      </path>
                      <path fill="#FBBC05"
                        d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                      </path>
                      <path fill="#34A853"
                        d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                      </path>
                      <path fill="none" d="M0 0h48v48H0z"></path>
                    </svg>
                  </div>
                  <span class="gsi-material-button-contents">Sign in with Google</span>
                  <span style="display: none;">Sign in with Google</span>
                </div>
              </button>
              <p class="login-signup-text">Don't have an account? <a href="{{url_for('user.register')}}">Sign up</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="login-card">
    <h2 style="text-align: center;"><span class="text-resalt">Login</span></h2>
    
    <div class="line left-line"></div>
    <div class="text">or</div>
    <div class="line right-line"></div>
    <br><br>
    <button id="google-login-btn" class="gsi-material-button" style="width: 100%;">
        <div class="gsi-material-button-state"></div>
        <div class="gsi-material-button-content-wrapper">
            <div class="gsi-material-button-icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                    xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                    <path fill="#EA4335"
                        d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                    </path>
                    <path fill="#4285F4"
                        d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                    </path>
                    <path fill="#FBBC05"
                        d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                    </path>
                    <path fill="#34A853"
                        d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                    </path>
                    <path fill="none" d="M0 0h48v48H0z"></path>
                </svg>
            </div>
            <span class="gsi-material-button-contents">Sign in with Google</span>
            <span style="display: none;">Sign in with Google</span>
        </div>
    </button>
    <p class="login-signup-text">Don't have an account? <a href="{{url_for('user.register')}}">Sign up</a></p>
</div> -->

{% endblock %}