{% extends "layouts/base.html" %}
{% block title %}Verify Email{% endblock %}
{% from "macros/form.html" import render_form %}

{% block content %}
<section class="vh-100 bg-image"
  style="background-image: url('https://media.wizards.com/images/magic/daily/wallpapers/Gruul_Wallpaper_2560x1440.jpg'); background-size: cover;  padding:20px">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-4">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <center><img src="{{url_for('static',filename='img/email_confirmation.jpg')}}"></center>
              <h3 class="text-uppercase text-center">Email Confirmation</h3>
              <center>We have sent an email to <u>{{ email }}</u> to confirm the validity of your email address. 
                After receiving the email, click on the link provided to complete your registration.
              <br>
              <!-- <p class="login-signup-text">Did not receive email? <a href="{{url_for('user.resendEmail')}}">Resend Email</a></p> -->
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section Area -  Content Central -->
{% endblock %}