{% extends "layouts/base.html" %}
{% block title %}Register Account{% endblock %}
{% from "macros/form.html" import render_form %}

{% block content %}

<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container paddings">
        <!-- Content Text-->
        <div class="panel-box block-form">
            <div class="titles text-center">
                <h4>Register An Account</h4>
            </div>

            <div class="info-panel">
                <!-- <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="lead">Feel the thrill of seeing a global sporting event in one of the world's most
                            incredible cities. Headlining the calendar is the Rusia World Cup</p>
                    </div>
                </div> -->

                {{ render_form(url_for('user.register'), form) }}
                <br><br>    
            </div>

        </div>
        <!-- End Content Text-->
    </div>
</section>
<!-- End Section Area -  Content Central -->

{% endblock %}