{% extends "layouts/base.html" %}
{% block title %}Update Password{% endblock %}
{% from "macros/form.html" import render_form %}

{% block content %}
<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container paddings">
        <!-- Content Text-->
        <div class="panel-box block-form">
            <div class="titles text-center">
                <h4>Update Your Password</h4>
            </div>

            <div class="info-panel">
                {{ render_form(url_for('user.update_password'), form) }}
                <br><br>
            </div>

        </div>
        <!-- End Content Text-->
    </div>
</section>
<!-- End Section Area -  Content Central -->

<script>
    const passwordInput = document.getElementById('password');
    const messageElement = document.getElementById('passwordMessage');

    document.addEventListener("DOMContentLoaded", function (event) {
        validatePassword(); //init validation
    });

    function validatePassword() {
        const password = passwordInput.value;
        let messages = [];

        if (password.length < 8 || password.length > 32) {
            messages.push('Password should be between 8-32 characters.');
        }
        if (!/[A-Z]/.test(password)) {
            messages.push('Password should contain at least 1 uppercase letter.');
        }
        if (!/[a-z]/.test(password)) {
            messages.push('Password should contain at least 1 lowercase letter.');
        }
        if (!/\d/.test(password)) {
            messages.push('Password should contain at least 1 digit.');
        }
        if (!/[@$!%*?&]/.test(password)) {
            messages.push('Password should contain at least 1 special character.');
        }

        if (messages.length === 0) {
            messageElement.textContent = 'Password is valid';
            messageElement.style = 'color: green;';
        } else {
            messageElement.textContent = messages.join('\n');
            messageElement.style = 'color: red;';
        }
    }

    passwordInput.addEventListener('input', validatePassword);
</script>
{% endblock %}