{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Main banner -->
<div class="section-title" style="background:url({{url_for('static',filename='img/home/banner.png')}})">
    <div class="container">
        <div class="row">
            <div class="col-md-12 home-hero-text">
                <h1 class="home-hero-header">Welcome to Magic</h1>
                <p class="home-hero-desc" style="color: white;">Find and Join a Tournament</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-7">
          <img src="{{url_for('static',filename='img/home/tournament-1.jpg')}}" alt="Magic Character" class="img-fluid">
        </div>
        <div class="col-md-5 bg-light p-3">
          <h2>Tournament 1</h2>
          <p>Join the upcoming tournament</p>
          <button type="button" class="btn btn-warning" style="color: ">Join</button>
        </div>
    </div>

    <!-- Ongoing Tournaments Section -->
    <br>
    <br>
    <h3>Ongoing Tournaments</h3>
    <br>
    <div class="row">
        {% for tournament in tournaments[:4] %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ tournament.imageUrl if tournament.imageUrl else url_for('static', filename='img/home/default-tournament.jpg') }}" class="card-img-top" alt="Tournament 1">
                <div class="card-body">
                    <h5 class="card-title">{{ tournament.tournamentName }}</h5>
                    <p class="card-text">{{ tournament.tournamentDesc if tournament.tournamentDesc else 'No description available.' }}</p>
                </div>
            </div>
        </div>
        
    {% endfor %}
        </div>
    </div>
</div>



{% endblock %}