{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Main banner -->
<div class="section-title" style="background:url({{url_for('static',filename='img/home/banner.png')}})">
    <div class="container">
        <div class="row">
            <div class="col-md-12 home-hero-text">
                <h1 class="home-hero-header">Welcome to Magic</h1>
                <p class="home-hero-desc" style="color: white;">Find and Join a Tournament</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <!-- First tournament in larger section below the main banner -->
    {% if tournaments|length > 0 %}
    <div class="row mb-5 home-shadow">
        <div class="col-md-7"> <!-- Adjusted width to col-md-7 -->
            <img src="{{ tournaments[0].imageUrl if tournaments[0].imageUrl else url_for('static',filename='img/home/default-tournament.jpg') }}" alt="Main Tournament Image" class="img-fluid">
        </div>
        <div class="col-md-5 bg-light p-3"> <!-- Kept the width consistent -->
            <h2>{{ tournaments[0].tournamentName }}</h2>
            <p>{{ tournaments[0].tournamentDesc if tournaments[0].tournamentDesc else 'Join the upcoming tournament' }}</p>
            <button type="button" class="btn btn-warning home-button">View Tournament</button>
        </div>
    </div>
    {% endif %}

    <!-- Ongoing Tournaments Section -->
    <h3>Ongoing Tournaments</h3>
    <br>
    <div class="row">
        {% for tournament in tournaments[1:5] %} <!-- Limit to the next 4 tournaments -->
        <div class="col-md-3">
            <div class="card">
                <img src="{{ tournament.imageUrl if tournament.imageUrl else url_for('static', filename='img/home/default-tournament.jpg') }}" class="card-img-top" alt="Tournament Image">
                <div class="card-body">
                    <h5 class="card-title">{{ tournament.tournamentName }}</h5>
                    <p class="card-text">{{ tournament.tournamentDesc if tournament.tournamentDesc else 'No description available.' }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
