{% extends "layouts/base.html" %}
{% block title %}Unauthorized{% endblock %}

{% block content %}
<!-- Section Area - Content Central -->
<section class="content-info">

    <!-- Content Central -->
     <section class="container">
         <div class="row">
             <div class="page-error">
                 <h1>401 <i class="fa fa-sign-in"></i></h1>
                  <hr class="tall">
                 <p class="lead">Please login to view this page.</p>
                 <a href="{{url_for('user.login')}}" class="btn btn-lg btn-primary">Login</a>
             </div>
         </div>
     </section>
     <!-- End Content Central -->
 </section>
 <!-- End Section Area -  Content Central -->

{% endblock %}