{% extends "layouts/base.html" %}
{% block title %}Page Not Found{% endblock %}

{% block content %}
<!-- Section Area - Content Central -->
<section class="content-info">

    <!-- Content Central -->
     <section class="container">
         <div class="row">
             <div class="page-error">
                 <h1>500 <i class="fa fa-unlink"></i></h1>
                  <hr class="tall">
                 <p class="lead">Sorry, we are unable to connect to the server right now, please try again later.</p>
                 <a href="/" class="btn btn-lg btn-primary">Return Home</a>
             </div>
         </div>
     </section>
     <!-- End Content Central -->
 </section>
 <!-- End Section Area -  Content Central -->

{% endblock %}