
.content{
    position: relative;
    height: 100%;
    margin: 50px;
    top: 150px;
    /* border: 2px solid red; */
} 

.search-bar{
    position: relative;
    height: 50px;
    /* border: 3px solid blue; */
}

.search-input{
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top: 0px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.search-button{
    position: absolute;
    height: 100%;
    top: 4px;
    right: 4px;
    height: 85%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-button:hover{
    background-color: lightgray;
}

.search-button:active{
    background-color: rgb(151, 151, 151);
}

.search-icon{
    height: 25px;
}

.content-table{
    position: relative;
    font-size: 15px;
    font-family: "Inter";
    border-collapse: collapse;
    margin: 40px 0px;
    width: 100%;
    /* border: 1px solid red; */
}

.content-table th,
.content-table td{
    padding: 30px 15px;
    text-align: left;
}

.content-table tbody tr{
    border-bottom: 1px solid black;
}

.content-table tbody tr:hover {
    background-color: lightgray;
}

.edit-container,
.delete-container{
    height: 30px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.edit-container{
    background-color: #FB980A;
}

.delete-container{
    background-color: #F15858;
}

.edit-icon,
.delete-icon{
    height: 30px;
}