{% extends "layouts/base.html" %}
{% block title %}Manage Tournament{% endblock %}
{% from "macros/form.html" import render_form %}

{% block content %}
<div class="admin-manage-tournament-container container">
    
    <!-- Header Row with Image and Description -->
    <div class="row mb-4">
        <div class="col-md-8">
            <img src="{{ tournament.imageUrl if tournament.imageUrl else url_for('static', filename='img/home/default-tournament.jpg') }}" 
                 class="img-fluid rounded" alt="{{ tournament.tournamentName }} Banner">
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center">
            <h3 class="admin-manage-tournament-name">{{ tournament.tournamentName }}</h3>
            <p class="admin-manage-tournament-description">{{ tournament.tournamentDesc }}</p>
            <form action="{{ url_for('admin.toggle_tournament', tournament_name=tournament.tournamentName) }}" method="POST">
                {% if tournament.participatingPlayers|length > 1 %}
                    <button type="submit" 
                            class="btn {{ 'btn-danger' if tournament.inProgress else 'btn-success' }} w-100 mt-3">
                        {{ 'End Tournament' if tournament.inProgress else 'Start Tournament' }}
                    </button>
                {% elif tournament.participatingPlayers|length == 1 %}
                    <button type="button" class="btn btn-secondary w-100 mt-3" disabled>
                        Cannot Start Tournament: Insufficient Players
                    </button>
                {% else %}
                    <button type="button" class="btn btn-secondary w-100 mt-3" disabled>
                        Cannot Start Tournament: No Players Registered
                    </button>
                {% endif %}

            </form>
            
        </div>  
    </div>

    <!-- Row for Current Round, Current Pairings, and Current Players -->
    <div class="row justify-content-center text-center mt-5">
        
        <!-- Current Round -->
        <div class="col-md-4 mb-4">
            <h4 class="admin-manage-tournament-section-title">Current Round</h4>
            <p class="admin-manage-tournament-info">
                {% if tournament.inProgress %}
                    {{ tournament.currentRound }}
                {% else %}
                    Tournament has not started.
                {% endif %}
            </p>
        
            {% if tournament.inProgress %}
                {% if round_over is none %}
                    <!-- If round_over is None, show the "Start Round" button for the next round -->
                    <form action="{{ url_for('admin.start_round', tournament_name=tournament.tournamentName, round_name=tournament.currentRound) }}" method="post">
                        <button type="submit" class="btn btn-primary w-80 mt-2">Start Round</button>
                    </form>
                {% elif not round_over %}
                    <!-- If round_over is False, show the "End Round" button to end the current round -->
                    <form action="{{ url_for('admin.end_round', tournament_name=tournament.tournamentName, round_name=tournament.currentRound) }}" method="post">
                        <button type="submit" class="btn btn-primary w-80 mt-2">End Round</button>
                    </form>
                {% else %}
                    <!-- If round_over is True, show the "Start Round" button to start a new round -->
                    <form action="{{ url_for('admin.start_round', tournament_name=tournament.tournamentName, round_name=tournament.currentRound) }}" method="post">
                        <button type="submit" class="btn btn-primary w-80 mt-2">Start Round</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>


          <!-- Current Pairings -->
          <div class="col-md-4 mb-4">
            <h4 class="admin-manage-tournament-section-title">Current Pairings</h4>
            
            {% if tournament.inProgress %}
                {% if round %}
                    <table class="table table-hover table-sm bg-white">
                        <thead>
                            <tr>
                                <th class="text-center">Duels</th>
                                <th class="text-center">Score</th>
                                <th class="text-center">Winner</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for match in round.matches %}
                            <tr class="match-row" style="cursor: pointer;" title="Submit match results" data-toggle="modal" data-target="#submitMatch_modal"  data-match-index="{{ loop.index0 }}">
                                <td >{{ match.player1 }} vs {{ match.player2 }}</td>
                                <td>
                                    {% if (match.wins is not none) and (match.losses is not none) %}
                                        {{match.wins}} - {{match.losses}}
                                    {% endif %}           
                                </td>
                                <td>
                                    {% if match.winner %}
                                        {{ match.winner }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>     
                    </table>
                {% else %}
                    <!-- Display message if the tournament is in progress but no round data is available -->
                    <p class="admin-manage-tournament-info">The round has not started.</p>
                {% endif %}
            {% else %}
                <!-- Display message if the tournament has not started -->
                <p class="admin-manage-tournament-info">No pairings available or tournament has not started.</p>
            {% endif %}
        </div>
        

        
        <!-- Current Players -->
        <div class="col-md-4 mb-4">
            <h4 class="admin-manage-tournament-section-title">Current Players</h4>
            <ul class="list-group admin-manage-tournament-players">
                {% if tournament.participatingPlayers %}
                    {% for player in tournament.participatingPlayers %}
                        <li class="list-group-item admin-manage-tournament-player-item">{{ player }}</li>
                    {% endfor %}
                {% else %}
                    <p class="admin-manage-tournament-info">No players currently participating.</li>
                {% endif %}
            </ul>
        </div>
    </div>

    <!-- Row for Current Standings -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h4 class="admin-manage-tournament-section-title">Current Standings</h4>
            {% if standings and standings|length > 0 %}
                <table class="table table-striped table-bordered admin-manage-tournament-standings bg-white">
                    <thead class="thead-light">
                        <tr>
                            <th>Rank</th>
                            <th>Player ID</th>
                            <th>Match Points</th>
                            <th>Opponent Match Win %</th>
                            <th>Game Points</th>
                            <th>Opponent Game Win %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in standings|sort(attribute='rank') %}
                            <tr>
                                <td>{{ player.rank }}</td>
                                <td>{{ player.playerID }}</td>
                                <td>{{ player.curMatchPts }}</td>
                                <td>{{ player.curOMW }}</td>
                                <td>{{ player.curGamePts }}</td>
                                <td>{{ player.curOGW }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif standings|length == 1 %}
                <p class="admin-manage-tournament-info">Tournament has not started or no standings available.</p>
            {% else %}
                <p class="admin-manage-tournament-info">No standings available.</p>
            {% endif %}
        </div>
    </div>


    <!-- Bootstrap modal(pop-up window) -->
    <div class="modal fade" tabindex="-1" role="dialog" id="submitMatch_modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mr-2">{{ tournament.tournamentName ~ ', Round ' ~ tournament.currentRound }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="matchForm" class="m-2" method="POST">
                    <input type="hidden" id="matchData"> 
                    <!-- <p id="matchData"></p> -->

                    <label id="wins-label" class="mb-0">Wins</label>
                    <input type="text" id="wins_input" class="form-control form-control-sm mb-2" placeholder="Enter score">

                    <label id="losses-label" class="mb-0">Losses</label>
                    <input type="text" id="losses_input" class="form-control form-control-sm mb-2" placeholder="Enter score">

                    <!-- <label for="isDraw-label" class="mb-0">Draw</label>
                    <select class="form-control form-control-sm mb-2" id="isDraw-label" name="draw">
                        <option>True</option>
                        <option>False</option>
                    </select> -->

                    <label for="winner-label" class="mb-0">Winner</label>
                    <select class="form-control form-control-sm mb-2" id="winner_select">
                        <option id="player1"></option>
                        <option id="player2"></option>
                        <option>Draw</option>
                    </select>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <script>
        {% if round %}
            document.querySelectorAll('.match-row').forEach(function(row, index) {
                row.addEventListener('click', function() {
                    var matches = {{ round.matches|tojson|safe }};

                    var input = document.getElementById('matchData');
                    input.value = JSON.stringify(matches[index]);

                    var player1 = document.getElementById('player1');
                    player1.textContent = matches[index].player1;

                    var player2 = document.getElementById('player2');
                    player2.textContent = matches[index].player2;
                });
            });

            document.getElementById('matchForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting immediately

                var wins = document.getElementById('wins_input').value;  
                var losses = document.getElementById('losses_input').value; 
                var winner = document.getElementById('winner_select').value; 

                var form = document.getElementById('matchForm');
                var input = document.getElementById('matchData');

                // Update the form action URL with the values from the inputs
                form.action = "{{ url_for('tournament.update_match') }}?matches=" + encodeURIComponent(input.value) +
                    "&player1=" + encodeURIComponent(player1.textContent) +
                    "&player2=" + encodeURIComponent(player2.textContent) +
                    "&tournamentName=" + encodeURIComponent("{{ tournament.tournamentName }}") +
                    "&roundName=" + encodeURIComponent("{{ tournament.currentRound }}") +
                    "&wins=" + encodeURIComponent(wins) +
                    "&losses=" + encodeURIComponent(losses) +
                    "&winner=" + encodeURIComponent(winner);

                // Now submit the form
                form.submit();
            });
        {% endif %}
    </script>


    
{% endblock %}