{% extends "layouts/base.html" %}
{% block title %}Admin - View tournaments{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="cart-page-title">Tournaments</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                {% if voucher_list|length >= 1 %}
                    <div class="table-content table-responsive cart-table-content">
                        <table style=" margin-left: auto; margin-right: auto; width: 90%;">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Discount</th>
                                    <th>Minimum Purchase</th>
                                    <th>Quantity</th>
                                    <th>Start Date</th>
                                    <th>Expiry Date</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for voucher in voucher_list %}
                                <tr>
                                    <td class="product-code">{{ voucher.get_code() }}</td>
                                    <td class="product-description">{{ voucher.get_description() }}</td>
                                    <td class="product-discount">{{ voucher.get_discount() }}%</td>
                                    <td class="product-minpurchase">${{ voucher.get_minpurchase() }}</td>
                                    <td class="product-quantity">{{ voucher.get_quantity() }}</td>
                                    <td class="product-start_date">{{ voucher.get_vstartdate() }}</td>
                                    <td class="product-end_date">{{ voucher.get_vexpirydate() }}</td>
                                    <td class="product-remove">
                                        <a href="/updateVoucher/{{voucher.get_voucher_id()}}"><i class="fa fa-pencil"></i></a>
                                        <form action="{{url_for('deleteVoucher', id=voucher.get_voucher_id())}}" method="POST" style="display: inline-block;">
                                        <button type="button" style="border:none; background: none; display: inline-block;" data-toggle="modal" data-target="#myModal_{{voucher.get_voucher_id()}}"><i class="fa fa-times"></i></button>
                                        <!-- The Modal -->
                                        <div class="modal" id="myModal_{{voucher.get_voucher_id()}}">
                                          <div class="modal-dialog">
                                            <div class="modal-content">

                                              <!-- Modal Header -->
                                              <div class="modal-header">
                                                <h4 class="modal-title">Delete Confirmation</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              </div>

                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                Are you sure you want to delete {{voucher.get_code()}}?
                                              </div>

                                              <!-- Modal footer -->
                                              <div class="modal-footer">
                                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                  <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                    </form>
                                   </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                There is currently no tournaments setup.
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-shiping-update-wrapper" style="float:right;">
                    <div class="cart-clear">
                        <a href="addTournament">Add tournament</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: window.location.href,
        headers: {
            "Pragma": "no-cache",
            "Expires": -1,
            "Cache-Control": "no-cache"
        }
    }).done(function () {
        window.location.reload(true);
    });
</script>

{% endblock %}
