{% extends "base.html" %}
{% block title %} Create Tournament {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
{% endblock %}

{% block content %} 

<div class="content">

    <div class="date-container">
        <label class="date-label">Tournament Date</label>
        <input class="date-input" type="date">
    </div>

    <div class="name-container">
        <label class="name-label">Tournament Name</label>   
        <input class="name-input" type="input">
    </div>

    <div class="organizer-container">
        <label class="organizer-label">Organizer</label>   
        <input class="organizer-input" type="input">
    </div>

    <div class="status-container">
        <label class="status-label">Status</label>   
        <input class="status-input" type="input">
    </div>

    <div class="regType-container">
        <label class="regType-label">Registration Type</label>   
        <input class="regType-input" type="input">
    </div>
</div>


{% endblock %}

